/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  --clr-alpha: #5D62B5;
  --clr-beta: #F6F6F7;
  --clr-gamma: #F1F1FA;
  --clr-delta: #A1A1A1;
  --clr-epsilon: #E5E5E5;
  --clr-psi: #5B5A7C;
  --clr-omega: #FFFFFF;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Lato', sans-serif;
  --transition: all 0.25s linear;
  --spacing: 0.1rem;
  --radius: 1.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1400px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5% !important;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-beta);
  color: var(--clr-psi);
  font-size: 1.6rem;
}

.wrapper {
  max-width: var(--max-width);
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: var(--clr-psi);
  text-decoration: none;
}

p {
  line-height: 1.8;
}

img {
  width: 100%;
  display: block;
}

.header-1, h1,
.header-2, h2,
.header-3, h3,
.header-4, h4,
.header-5, h5,
.header-6, h6,
.display-one,
.display-two,
.display-three,
.display-four  {
    line-height: 1;
    margin: 0;
    font-weight: 700;
    font-family: var(--ff-primary);
}

h1, .header-1 {
    font-size: 4rem;
}

h2, .header-2 {
    font-size: 3.2rem;
}

h3, .header-3 {
    font-size: 2.5rem;
}

h4, .header-4 {
    font-size: 1.75rem;
}

h5, .header-5 {
    font-size: 1.55rem;
}

h6, .header-6 {
    font-size: 1rem;
}

@media screen and ( min-width: 768px ) {
  h1, .header-1 {
      font-size: 4.5rem;
  }

  h2, .header-2 {
      font-size: 3.8rem;
  }

  h3, .header-3 {
      font-size: 3rem;
  }

  h4, .header-4 {
      font-size: 2.25rem;
  }

  h5, .header-5 {
      font-size: 1.75rem;
  }

  h6, .header-6 {
      font-size: 1.25rem;
  }
}

.display-one {
    font-size: calc( 2.5rem + 5vw );
}

.display-two {
    font-size: calc( 2.5rem + 3.5vw );
}

.display-three {
    font-size: calc( 2.5rem + 2.8vw );
}

.display-four {
    font-size: calc( 2.5rem + 2.2vw );
}

.display-flex {
    display: flex;
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-alpha);
  color: var(--clr-omega);
  padding: 1.2rem 2rem;
  display: inline-block;
  transition: var(--transition);
  cursor: pointer;
  border-radius: var(--radius);
}

/* section */
.section {
  padding: 1rem 0;
  position: relative;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.loading-img {
  width: 20rem;
  height: 20rem;
  display: block;
  margin: 0 auto;
  margin-top: 10rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.section-my {
  margin-bottom: calc( 6rem + 10vw );
  margin-top: calc( 6rem + 10vw );

  @media screen and ( min-width: 1200px ) {
      margin-bottom: 10rem;
      margin-top: 10rem;
  }
}

.section-mb {
  margin-bottom: calc( 6rem + 5vw );
}

.section-mt {
  margin-top: calc( 6rem + 5vw );
}

@media screen and ( min-width: 1200px ) {
  .section-mb {
      margin-bottom: 10rem;
  }

  .section-mt {
      margin-top: 10rem;
  }
}

.mt-10 {
  margin-top: 1rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-30 {
  margin-top: 3rem;
}

.mt-60 {
  margin-top: 6rem;
}

.mt-100 {
  margin-top: 10rem;
}

.mt-160 {
  margin-top: 16rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-60 {
  margin-bottom: 6rem;
}

.mb-100 {
  margin-bottom: 10rem;
}

.mb-160 {
  margin-bottom: 16rem;
}

.ml-10 {
  margin-left: 1rem;
}

.mr-10 {
  margin-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pt-60 {
  padding-top: 6rem;
}

.pt-100 {
  padding-top: 10rem;
}

.pb-60 {
  padding-bottom: 6rem;
}

.pb-100 {
  padding-bottom: 10rem;
}
